<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="confirmationModalLabel">
                    </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-4 text-center" id="confirmationModalBody">
                </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="min-width: 100px;">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmationModalConfirmBtn" style="min-width: 100px;">
                    </button>
            </div>
        </div>
    </div>
</div>